*.gem
*.rbc
.bundle/
.config/
.byebug_history
.rspec_status
.yardoc
.DS_Store
Gemfile.lock
InstalledFiles
_yardoc/
coverage/
doc/
log/
pkg/
spec/reports/
test/tmp/
test/version_tmp/
tmp/
vendor/bundle
vendor/cache
